*{
	margin:0;
	padding:0;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	
}
h1{
	text-transform: uppercase;
	font-size: 36px;
	font-weight: 300;
}
h2{
	text-transform: uppercase;
	font-size: 18px;
}
section{
	padding-top: 60px;
}
/* General*/
.container{
	max-width: 580px;
	margin: 0 auto;
}
.container-largue{
	max-width: 960px;
	margin: 0 auto;

}
.button{
	background-color: blue;
	color:white;
	border-radius: 5px;
	padding: 10px;
	text-decoration: none;
	display: inline-block;
	margin:5px;
	transition: all 0.3s;
}
.button-green{

	background-color: green;

}
.button:hover{
	background-color: #6f6fec;
}
.button-green:hover{
	background-color: blue;
}
/*  Header */
header{
   color: white;
   background-color: black;
   text-align: center; 
   padding: 100px 0px;
}
/* Navegacion */
nav{
	
}
nav ul{
	list-style: none;
	float:right;
}
.logo{
	float:left;
}
.logo img{
	width: 125px;
}
nav ul li{
	display: inline-block;
	padding: 10px;
}
nav li a{
	color:white;
	text-decoration: none;
	opacity: 0.5;
	transition: opacity 0.3s;
}
nav li a:hover{
	opacity: 1;
}
