*{
	margin:0;
	padding:0;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	
}
h1{
	text-transform: uppercase;
	font-size: 36px;
	font-weight: 300;
}
h2{
	text-transform: uppercase;
	font-size: 18px;
	padding-bottom: 10px;
}
section{
	padding-top: 60px;
}
/* General*/
.container{
	max-width: 680px;
	margin: 0 auto;
}
.container-largue{
	max-width: 960px;
	margin: 0 auto;
	background-color: black;

}
.button{
	background-color: blue;
	color:white;
	border-radius: 5px;
	padding: 10px;
	text-decoration: none;
	display: inline-block;
	margin:5px;
	transition: all 0.3s;
}
.button-green{

	background-color: green;

}
.button-grey{
    background-color: #D3D3D3;
}
.button:hover{
	background-color: #6f6fec;
}
.button-green:hover{
	background-color: blue;

}
/*  Header */
header{
   height: 250px;
   color: white;
   background-color: black;
   background-image: url(images/bg.jpeg);
   background-size: cover;
   background-position: center 5px;
   text-align: center; 
   padding: 100px 0px;
}
/* Navegacion */
nav{
	
}
nav ul{
	list-style: none;
	float:right;
}
.logo{
	float:left;
}
.logo img{
	width: 125px;
}
nav ul li{
	display: inline-block;
	padding: 10px;
}
nav li a{
	color:white;
	text-decoration: none;
	opacity: 0.5;
	transition: opacity 0.3s;
}
nav li a:hover{
	opacity: 1;
}
.sec2{
	text-align: center;
	height: 750px;
}
.subsec2{
	background-image: url(images/happy-people.png);
	background-size: cover;
	background-position: center;
	height: 700px;
}
.sec3{
	text-align: center;
	background-color: #D3D3D3;
	height: 200px;
}
.sec3 p{
	font-size: small;
}
.sec4{
	height: 200px;
}
.div1{
	float:left;
	clear:left;
}
.div2{
	float:right;
	clear:right;

}
.div3 p{
    float:left;
    margin-top: 20px;
    color:blue;
}
.caja1{
	width: 260px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.c1{
	float: left;
	clear:left;
	padding-top: 10px;
}
.c1 input{
	height: 30px;
	width: 180px;
	color:grey;
}
.c2{
	float:right;
	clear:right;
	padding-left: 0px;
	padding-top: 4px;
}
.c2 a{
	height: 16px;
	color:black;
	border: solid black 1px;
}

.footer{
	height: 50px;
	background-color: black;
	color:white;
	padding-left: 100px;
}
.footer p{
	padding-top: 10px;
	padding-bottom: 10px;
}